# Python Environments
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter Notebook Cache
.ipynb_checkpoints/

# Quarto Cache and Build Output
/.quarto/
_site/
**/*.quarto_ipynb

# Data and Downloads
**/raw data/
**/data/
**/processed data/
downloaded_files/

# Secrets (API Keys, Passwords)
.env

# OS System Files
.DS_Store
Thumbs.db

.vscode/